body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;



  }
  h1 {
    color: whitesmoke;
}
  #app {
    text-align: center;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
  }
  .cell {
    width: 100px;
    height: 100px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: #242424;
    /* border: 1px solid whitesmoke; */
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cell:hover {
    background-color: #808080;
}
  .status {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  .restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #42b883;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
  .restart:hover {
    background-color: #45a049;
  }